{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}

{% block content%}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %} 

<h2>정보 수정</h2>
<form method="post">
    사용자 이름:
    <input type="text" name="username" value="{{ user.username }}" readonly><br>

    비밀번호:
    <input type="text" name="password" value="{{ user.password }}"><br>

    이메일:
    <input type="text" name="email" value="{{ user.email }}"><Br>

    <button type="submit">수정하기</button>

</form>

{% endblock %}